
Results/results_output_curtailed_prod\.csv

Results/results_output_EuropePlot\.csv

Results/results_output_EuropeSummary\.csv

Results/results_output_gen\.csv

Results/results_output_Operational\.csv

Results/results_output_stor\.csv

Results/results_output_transmision\.csv

Data handler/europe_v48/Tab_Files/Generator_CapitalCosts\.tab

Data handler/europe_v48/Tab_Files/Generator_CCSCostTSVariable\.tab

Data handler/europe_v48/Tab_Files/Generator_CO2Content\.tab

Data handler/europe_v48/Tab_Files/Generator_Efficiency\.tab

Data handler/europe_v48/Tab_Files/Generator_FixedOMCosts\.tab

Data handler/europe_v48/Tab_Files/Generator_FuelCosts\.tab

Data handler/europe_v48/Tab_Files/Generator_GeneratorTypeAvailability\.tab

Data handler/europe_v48/Tab_Files/Generator_InitialCapacity\.tab

Data handler/europe_v48/Tab_Files/Generator_MaxBuiltCapacity\.tab

Data handler/europe_v48/Tab_Files/Generator_MaxInstalledCapacity\.tab

Data handler/europe_v48/Tab_Files/Generator_RampRate\.tab

Data handler/europe_v48/Tab_Files/Generator_RefInitialCap\.tab

Data handler/europe_v48/Tab_Files/Generator_ScaleFactorInitialCap\.tab

Data handler/europe_v48/Tab_Files/Generator_VariableOMCosts\.tab

Data handler/europe_v48/Tab_Files/Lifetime_Generator\.tab

Data handler/europe_v48/Tab_Files/Lifetime_Storage\.tab

Data handler/europe_v48/Tab_Files/Lifetime_Transmission\.tab

Data handler/europe_v48/Tab_Files/Node_CO2Cap\.tab

Data handler/europe_v48/Tab_Files/Node_CO2Price\.tab

Data handler/europe_v48/Tab_Files/Node_ElectricAnnualDemand\.tab

Data handler/europe_v48/Tab_Files/Node_NodeLostLoadCost\.tab

Data handler/europe_v48/Tab_Files/Season_seasonScale\.tab

Data handler/europe_v48/Tab_Files/Sets_DependentStorage\.tab

Data handler/europe_v48/Tab_Files/Sets_DirectionalLines\.tab

Data handler/europe_v48/Tab_Files/Sets_Generator\.tab

Data handler/europe_v48/Tab_Files/Sets_GeneratorsOfNode\.tab

Data handler/europe_v48/Tab_Files/Sets_GeneratorsOfTechnology\.tab

Data handler/europe_v48/Tab_Files/Sets_HourOfSeason\.tab

Data handler/europe_v48/Tab_Files/Sets_HydroGenerator\.tab

Data handler/europe_v48/Tab_Files/Sets_HydroGeneratorWithReservoir\.tab

Data handler/europe_v48/Tab_Files/Sets_LineType\.tab

Data handler/europe_v48/Tab_Files/Sets_LineTypeOfDirectionalLines\.tab

Data handler/europe_v48/Tab_Files/Sets_Node\.tab

Data handler/europe_v48/Tab_Files/Sets_Operationalhour\.tab

Data handler/europe_v48/Tab_Files/Sets_Period\.tab

Data handler/europe_v48/Tab_Files/Sets_Scenario\.tab

Data handler/europe_v48/Tab_Files/Sets_Season\.tab

Data handler/europe_v48/Tab_Files/Sets_Storage\.tab

Data handler/europe_v48/Tab_Files/Sets_StorageOfNodes\.tab

Data handler/europe_v48/Tab_Files/Sets_Technology\.tab

Data handler/europe_v48/Tab_Files/Sets_ThermalGenerators\.tab

Data handler/europe_v48/Tab_Files/Stochastic_ElectricLoadRaw\.tab

Data handler/europe_v48/Tab_Files/Stochastic_HydroGenMaxAnnualProduction\.tab

Data handler/europe_v48/Tab_Files/Stochastic_HydroGenMaxSeasonalProduction\.tab

Data handler/europe_v48/Tab_Files/Stochastic_StochasticAvailability\.tab

Data handler/europe_v48/Tab_Files/Storage_EnergyCapitalCost\.tab

Data handler/europe_v48/Tab_Files/Storage_EnergyFixedOMCost\.tab

Data handler/europe_v48/Tab_Files/Storage_EnergyInitialCapacity\.tab

Data handler/europe_v48/Tab_Files/Storage_EnergyMaxBuiltCapacity\.tab

Data handler/europe_v48/Tab_Files/Storage_EnergyMaxInstalledCapacity\.tab

Data handler/europe_v48/Tab_Files/Storage_InitialPowerCapacity\.tab

Data handler/europe_v48/Tab_Files/Storage_PowerCapitalCost\.tab

Data handler/europe_v48/Tab_Files/Storage_PowerFixedOMCost\.tab

Data handler/europe_v48/Tab_Files/Storage_PowerMaxBuiltCapacity\.tab

Data handler/europe_v48/Tab_Files/Storage_PowerMaxInstalledCapacity\.tab

Data handler/europe_v48/Tab_Files/Storage_StorageBleedEfficiency\.tab

Data handler/europe_v48/Tab_Files/Storage_StorageChargeEff\.tab

Data handler/europe_v48/Tab_Files/Storage_StorageDischargeEff\.tab

Data handler/europe_v48/Tab_Files/Storage_StorageInitialEnergyLevel\.tab

Data handler/europe_v48/Tab_Files/Storage_StoragePowToEnergy\.tab

Data handler/europe_v48/Tab_Files/Transmission_InitialCapacity\.tab

Data handler/europe_v48/Tab_Files/Transmission_Length\.tab

Data handler/europe_v48/Tab_Files/Transmission_lineEfficiency\.tab

Data handler/europe_v48/Tab_Files/Transmission_MaxBuiltCapacity\.tab

Data handler/europe_v48/Tab_Files/Transmission_MaxInstallCapacityRaw\.tab

Data handler/europe_v48/Tab_Files/Transmission_TypeCapitalCost\.tab

Data handler/europe_v48/Tab_Files/Transmission_TypeFixedOMCost\.tab

Data handler/europe_v48/Tab_Files/General_CO2Cap\.tab

Data handler/europe_v48/Tab_Files/General_CO2Price\.tab

Data handler/europe_v48/Tab_Files/General_seasonScale\.tab

Data handler/europe_v48/Tab_Files/Generator_Lifetime\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleElToHeat_CapitalCosts\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleElToHeat_Efficiency\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleElToHeat_FixedOMCosts\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleElToHeat_InitialCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleElToHeat_Lifetime\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleElToHeat_MaxBuildCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleElToHeat_MaxInstallCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_CapitalCosts\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_CO2Content\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_Efficiency\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_FixedOMCosts\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_FuelCosts\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_GeneratorTypeAvailability\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_InitialCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_Lifetime\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_MaxBuiltCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_MaxInstalledCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_RampRate\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_RefInitialCap\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_ScaleFactorInitialCap\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleGenerator_VariableOMCosts\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleNode_HeatAnnualDemand\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleNode_NodeLostLoadCost\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleSets_ConverterOfNodes\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleSets_ElectrToHeatConverter\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleSets_GeneratorHeat\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleSets_GeneratorHeatAndElectricity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleSets_GeneratorsOfNode\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleSets_GeneratorsOfTechnology\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleSets_StorageHeat\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleSets_StorageOfNodes\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleSets_Technology\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleSets_TechnologyHeat\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleSets_ThermalGenerators\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStochastic_HeatLoadRaw\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_EnergyCapitalCost\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_EnergyFixedOMCost\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_EnergyInitialCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_EnergyMaxBuiltCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_EnergyMaxInstalledCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_InitialPowerCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_Lifetime\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_PowerCapitalCost\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_PowerFixedOMCost\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_PowerMaxBuiltCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_PowerMaxInstalledCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_StorageBleedEfficiency\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_StorageChargeEff\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_StorageDischargeEff\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleStorage_StorageInitialEnergyLevel\.tab

Data handler/europe_v48/Tab_Files/Lifetime_ElectricityToHeat\.tab

Data handler/europe_v48/Tab_Files/Node_HeatAnnualDemand\.tab

Data handler/europe_v48/Tab_Files/Stochastic_HeatLoadRaw\.tab

Data handler/europe_v48/Tab_Files/Storage_Lifetime\.tab

Data handler/europe_v48/Tab_Files/Transmission_Lifetime\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleSets_DependentStorage\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleSets_StorageElectricVehicle\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleSets_StorageOfNodes\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStochastic_ElectricVehicleDemand\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_EnergyCapitalCost\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_EnergyFixedOMCost\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_EnergyInitialCapacity\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_EnergyMaxBuiltCapacity\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_EnergyMaxInstalledCapacity\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_InitialPowerCapacity\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_Lifetime\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_PowerCapitalCost\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_PowerFixedOMCost\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_PowerMaxBuiltCapacity\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_PowerMaxInstalledCapacity\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_StorageBleedEfficiency\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_StorageChargeEff\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_StorageDischargeEff\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_StorageInitialEnergyLevel\.tab

Data handler/europe_v48/Tab_Files/EVModule/EVModuleStorage_StoragePowToEnergy\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleConverter_CapitalCosts\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleConverter_Efficiency\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleConverter_FixedOMCosts\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleConverter_InitialCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleConverter_Lifetime\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleConverter_MaxBuildCapacity\.tab

Data handler/europe_v48/Tab_Files/HeatModule/HeatModuleConverter_MaxInstallCapacity\.tab
