# This is an OpenEMPIRE configuration file used for stability tests on europe_agg_v50 
# To be used with the execution script run.py

use_temporary_directory: True                          # Specifies whether to use a temporary directory for operations
temporary_directory: './'                              # Path to the temporary directory used for certain operations
forecast_horizon_year: 2050                            # Target or end year for the run
number_of_scenarios: 100                               # Number of scenarios in every investment period
length_of_regular_season: 168                          # Number of hours in a regular season
discount_rate: 0.05                                    # Rate used to discount future cash flows to present value
wacc: 0.05                                             # Weighted average cost of capital
optimization_solver: "Gurobi"                          # Mathematical solver used for optimization tasks
use_scenario_generation: True                          # Indicates if scenarios should be generated dynamically
use_fixed_sample: False                                # Specifies if fixed scenario samples should be used
load_change_module: False                              #
filter_make : False                                    #
filter_use : False                                     #
copula_clusters_make: False                            # Make copula clusters (for copula-strata SGR)
copula_clusters_use: False                             # Copula-based scenario generation (strata/filter approach)
copulas_to_use: ["electricload"]                       # Emprical copula construction of ["electricload", "hydroror", "hydroseasonal", "solar", "windoffshore", "windonshore"]
n_cluster : 10                                         #
moment_matching : False                                #
n_tree_compare : 20                                    # Number of trees to compare for moment matching and copula-sampling
use_emission_cap: True                                 # Indicates if there's a cap on CO2 emissions
compute_operational_duals: True                        # Resolve empire with fixed investment variables and write new duals
print_in_iamc_format: False                            # Output should be printed in a IAMC-compatible format
write_in_lp_format: False                              # Problem should be written in Linear Programming format
serialize_instance: False                              # Serialize the data structure or model for later use
north_sea: False                                       # Whether the north sea is modelled or not
leap_years_investment: 10                              # Number of years per period (default: 5)
time_format: "%Y-%m-%d %H:%M:%S"                       # Time format for scenario data files
